.grid-container{
    background-color: beige;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    grid-auto-rows: minmax(10px, auto);
}

.grid-item {
    background-color: blanchedalmond;
    border: 1px solid rgb(188, 226, 64);
    padding: 20px;
}

.grid-item :nth-of-type(2) {
    width: 100px;
    background-color: rgb(188, 226, 64);
    align-self: center;
    justify-self: center;
    grid-column-start: 2;
    grid-row-start: 2;
}