body {
    background-color: beige;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: lightpink;
    height: 100px;
    width: 2000px;
    position:fixed;
    top: 0;
}
section {
    position: relative;
    top: 0px;
    
}
.container {
    background-color: gray;
}
.box {
    margin-top:80px;
    height: 80px;
    width: 100;
    background-color: bisque;
    position: sticky;
    top: 0;
    left: 150px;
}

article h2 {
  position: sticky;
  top: 100px;
  background-color: lightcoral;
}